@font-face {
    font-family: "Questrial";
    src: url('Questrial-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "MavenPro";
    src: url('MavenPro-VariableFont_wght.ttf') format('truetype');
}